<!--Header-->
<div>
    <div class="row" style="color: #4D4D4D;font-size: 15px;padding-bottom: 20px">
        <div class="col-md-7">
            <img src="https://www.tecazuay.edu.ec/wp-content/uploads/2023/07/LOGO-RECTANGULAR_SIN-FONDO-2048x626.png" alt="Logo TECAZUAY" width="100%" class="img-responsive" style="margin:20px 0px 0px">
        </div>
        <div class="col-md-5">
            <h1 style="margin:15px 0px 0px;font-size: 40px;">Spark y Dataframe</h1>
            <div style="text-align:left;margin-top: 5px;"></div>
        </div>
    </div>
    <div class="row" style="background: #FCB517;padding: 10px 20px;">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            </div>
        </div>
        <div style="text-align:right;">Carrera: TECNOLOGÍA SUPERIOR EN BIG DATA <span style="margin-left: 30px;"></span></div>
         <div style="text-align:right;">Estudiante: Victor Cabrera  <span style="margin-left: 30px;"></span></div>
          <div style="text-align:right;">Fecha: 2/7/2024 <span style="margin-left: 30px;"></span></div>
        </div>
    </div>
</div>
<!--/Header-->

### Data personal

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=e0f91380742a8c04f364e1cb486233b001607def5aad35ca91d5dd1f5694978e
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
!pip install findspark

Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [ ]:
import findspark
findspark.init()

import pandas as pd
import pyspark

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [ ]:
spark = SparkSession.builder.getOrCreate()

In [ ]:
spark

**1. Crea un DataFrame para la entidad "productos" con las columnas: idProducto (entero), nombre (cadena) y idCategoria (entero).**

In [ ]:
productos = [
    (31, "fideo laso", 10),
    (32, "fideo codo", 10),
    (33, "fideo macarron", 10),
    (34, "Arroz Roma", 11),
    (35, "Arroz Ribe", 11),
    (36, "Arroz integral", 11),
    (37, "Sardinas enlatadas", 12),
    (38, "Atún enlatado", 12),
    (39, "Duraznos enlatados", 12),
    (40, "Maíz enlatados", 12)
]
productosdf=spark.createDataFrame(productos,["id_producto", "nombre", "id_categoria"])

In [ ]:
productosdf.show()

+-----------+------------------+------------+
|id_producto|            nombre|id_categoria|
+-----------+------------------+------------+
|         31|        fideo laso|          10|
|         32|        fideo codo|          10|
|         33|    fideo macarron|          10|
|         34|        Arroz Roma|          11|
|         35|        Arroz Ribe|          11|
|         36|    Arroz integral|          11|
|         37|Sardinas enlatadas|          12|
|         38|     Atún enlatado|          12|
|         39|Duraznos enlatados|          12|
|         40|    Maíz enlatados|          12|
+-----------+------------------+------------+

**2.Crea un DataFrame para la entidad "categorias" con las columnas: idCategoria (entero) y nombre (cadena).**

In [ ]:
categorias = [
    (10, "Pastas"),
    (11, "Arroz"),
    (12, "Productos enlatados")
]
categoriasdf=spark.createDataFrame(categorias,["id_categoria", "nombre"])

In [ ]:
categoriasdf.show()

+------------+-------------------+
|id_categoria|             nombre|
+------------+-------------------+
|          10|             Pastas|
|          11|              Arroz|
|          12|Productos enlatados|
+------------+-------------------+

**3.Crea un DataFrame para la entidad "ventas" con las columnas: id_venta (entero), id_producto (entero), cantidad (entero) y fecha (cadena).**

In [ ]:
ventas = [
    (310, 31, 2, "10-06-2023"),
    (311, 31, 1, "11-06-2023"),
    (320, 32, 3, "12-06-2023"),
    (321, 32, 2, "13-06-2023"),
    (330, 33, 4, "14-06-2023"),
    (331, 33, 1, "15-06-2023"),
    (340, 34, 2, "16-06-2023"),
    (341, 34, 4, "17-06-2023"),
    (350, 35, 2, "18-06-2023"),
    (351, 35, 5, "19-06-2023"),
    (360, 36, 4, "20-06-2023"),
    (361, 36, 2, "21-06-2023"),
    (370, 37, 1, "22-06-2023"),
    (371, 37, 3, "23-06-2023"),
    (380, 38, 1, "24-06-2023"),
    (381, 38, 2, "25-06-2023"),
    (390, 39, 3, "26-06-2023"),
    (391, 39, 6, "27-06-2023"),
    (400, 40, 5, "28-06-2023"),
    (401, 40, 4, "29-06-2023")
]
ventasdf=spark.createDataFrame(ventas,["id_venta", "id_producto", "cantidad", "fecha"])

In [ ]:
ventasdf = spark.createDataFrame(ventas, ['id_venta', 'id_producto', 'cantidad', 'fecha'])
ventasdf.show()

+--------+-----------+--------+----------+
|id_venta|id_producto|cantidad|     fecha|
+--------+-----------+--------+----------+
|     310|         31|       2|10-06-2023|
|     311|         31|       1|11-06-2023|
|     320|         32|       3|12-06-2023|
|     321|         32|       2|13-06-2023|
|     330|         33|       4|14-06-2023|
|     331|         33|       1|15-06-2023|
|     340|         34|       2|16-06-2023|
|     341|         34|       4|17-06-2023|
|     350|         35|       2|18-06-2023|
|     351|         35|       5|19-06-2023|
|     360|         36|       4|20-06-2023|
|     361|         36|       2|21-06-2023|
|     370|         37|       1|22-06-2023|
|     371|         37|       3|23-06-2023|
|     380|         38|       1|24-06-2023|
|     381|         38|       2|25-06-2023|
|     390|         39|       3|26-06-2023|
|     391|         39|       6|27-06-2023|
|     400|         40|       5|28-06-2023|
|     401|         40|       4|29-06-2023|
+--------+-----------+--------+----------+

Guardar en formato csv

In [ ]:
categoriasdf.coalesce(1).write.format("csv").option("header", "true").option("delimiter", ";").save("clientes4")

In [ ]:
ventasdf.coalesce(1).write.format("csv").option("header", "true").option("delimiter", ";").save("clientes5")

In [ ]:
productosdf.coalesce(1).write.format("csv").option("header", "true").option("delimiter", ";").save("clientes3")

### Data Grupal

Leer los archivos csv

### Categoria

In [ ]:
categoriasdf= spark.read.format("csv").option("header", "true").option("delimiter", ";").load("/content/clientes4")

In [ ]:
categoriasdf.show(27)

+------------+-------------------+
|id_categoria|             nombre|
+------------+-------------------+
|          10|             Pastas|
|          11|              Arroz|
|          12|Productos enlatados|
+------------+-------------------+

### Ventas

In [ ]:
ventasdf= spark.read.format("csv").option("header", "true").option("delimiter", ";").load("/content/clientes5")

In [ ]:
ventasdf.show(27)

+--------+-----------+--------+----------+
|id_venta|id_producto|cantidad|     fecha|
+--------+-----------+--------+----------+
|     310|         31|       2|10-06-2023|
|     311|         31|       1|11-06-2023|
|     320|         32|       3|12-06-2023|
|     321|         32|       2|13-06-2023|
|     330|         33|       4|14-06-2023|
|     331|         33|       1|15-06-2023|
|     340|         34|       2|16-06-2023|
|     341|         34|       4|17-06-2023|
|     350|         35|       2|18-06-2023|
|     351|         35|       5|19-06-2023|
|     360|         36|       4|20-06-2023|
|     361|         36|       2|21-06-2023|
|     370|         37|       1|22-06-2023|
|     371|         37|       3|23-06-2023|
|     380|         38|       1|24-06-2023|
|     381|         38|       2|25-06-2023|
|     390|         39|       3|26-06-2023|
|     391|         39|       6|27-06-2023|
|     400|         40|       5|28-06-2023|
|     401|         40|       4|29-06-2023|
+--------+-----------+--------+----------+

### Productos

In [ ]:
productosdf= spark.read.format("csv").option("header", "true").option("delimiter", ";").load("/content/clientes3")

In [ ]:
productosdf.show(27)

+-----------+------------------+------------+
|id_producto|            nombre|id_categoria|
+-----------+------------------+------------+
|         31|        fideo laso|          10|
|         32|        fideo codo|          10|
|         33|    fideo macarron|          10|
|         34|        Arroz Roma|          11|
|         35|        Arroz Ribe|          11|
|         36|    Arroz integral|          11|
|         37|Sardinas enlatadas|          12|
|         38|     Atún enlatado|          12|
|         39|Duraznos enlatados|          12|
|         40|    Maíz enlatados|          12|
+-----------+------------------+------------+

### Operaciones

In [ ]:
#Calcula el número total de registros en cada DataFrame utilizando el método count().
productosdf.count()

10

In [ ]:
categoriasdf.count()

3

In [ ]:
ventasdf.count()

20

In [ ]:
#Filtra "ventas_df" para mostrar solo las ventas donde la cantidad sea mayor que 10.
ventasdf.filter(ventasdf["cantidad"]>10).show()

+--------+-----------+--------+-----+
|id_venta|id_producto|cantidad|fecha|
+--------+-----------+--------+-----+
+--------+-----------+--------+-----+

In [ ]:
#Ordena "productos_df" en orden ascendente según el nombre de producto.
productosdf = productosdf.orderBy("nombre")

# Mostrar el DataFrame ordenado
productosdf.show()

+-----------+------------------+------------+
|id_producto|            nombre|id_categoria|
+-----------+------------------+------------+
|         35|        Arroz Ribe|          11|
|         34|        Arroz Roma|          11|
|         36|    Arroz integral|          11|
|         38|     Atún enlatado|          12|
|         39|Duraznos enlatados|          12|
|         40|    Maíz enlatados|          12|
|         37|Sardinas enlatadas|          12|
|         32|        fideo codo|          10|
|         31|        fideo laso|          10|
|         33|    fideo macarron|          10|
+-----------+------------------+------------+

In [ ]:
from pyspark.sql import functions as F

In [ ]:
#Calcula la suma total de la cantidad vendida en "ventas_df" utilizando la función sum().
suma_cantidad = ventasdf.select(F.sum("cantidad")).first()[0]
resultado_df = spark.createDataFrame([(suma_cantidad,)], ["suma_total_cantidad"])
resultado_df.show()

+-------------------+
|suma_total_cantidad|
+-------------------+
|               57.0|
+-------------------+

### Joins entre Dataframes

In [ ]:
#Realiza un inner join entre "ventas_df" y "productos_df" utilizando la columna "idProducto" como clave de join.
ventas_productos_df = productosdf.join(ventasdf, productosdf["id_Producto"] == ventasdf["id_Producto"], "outer").show()

+-----------+------------------+------------+--------+-----------+--------+----------+
|id_producto|            nombre|id_categoria|id_venta|id_producto|cantidad|     fecha|
+-----------+------------------+------------+--------+-----------+--------+----------+
|         31|        fideo laso|          10|     310|         31|       2|10-06-2023|
|         31|        fideo laso|          10|     311|         31|       1|11-06-2023|
|         32|        fideo codo|          10|     320|         32|       3|12-06-2023|
|         32|        fideo codo|          10|     321|         32|       2|13-06-2023|
|         33|    fideo macarron|          10|     330|         33|       4|14-06-2023|
|         33|    fideo macarron|          10|     331|         33|       1|15-06-2023|
|         34|        Arroz Roma|          11|     340|         34|       2|16-06-2023|
|         34|        Arroz Roma|          11|     341|         34|       4|17-06-2023|
|         35|        Arroz Ribe|          11|     350|         35|       2|18-06-2023|
|         35|        Arroz Ribe|          11|     351|         35|       5|19-06-2023|
|         36|    Arroz integral|          11|     360|         36|       4|20-06-2023|
|         36|    Arroz integral|          11|     361|         36|       2|21-06-2023|
|         37|Sardinas enlatadas|          12|     370|         37|       1|22-06-2023|
|         37|Sardinas enlatadas|          12|     371|         37|       3|23-06-2023|
|         38|     Atún enlatado|          12|     380|         38|       1|24-06-2023|
|         38|     Atún enlatado|          12|     381|         38|       2|25-06-2023|
|         39|Duraznos enlatados|          12|     390|         39|       3|26-06-2023|
|         39|Duraznos enlatados|          12|     391|         39|       6|27-06-2023|
|         40|    Maíz enlatados|          12|     400|         40|       5|28-06-2023|
|         40|    Maíz enlatados|          12|     401|         40|       4|29-06-2023|
+-----------+------------------+------------+--------+-----------+--------+----------+

In [ ]:
#Realiza un inner join entre "productos_df" y "categorias_df" utilizando la columna "idCategoria" como clave de join.
productos_categoriasdf = productosdf.join(categoriasdf, productosdf["id_Categoria"] == categoriasdf["id_Categoria"], "outer").show()

+-----------+------------------+------------+------------+-------------------+
|id_producto|            nombre|id_categoria|id_categoria|             nombre|
+-----------+------------------+------------+------------+-------------------+
|         31|        fideo laso|          10|          10|             Pastas|
|         32|        fideo codo|          10|          10|             Pastas|
|         33|    fideo macarron|          10|          10|             Pastas|
|         34|        Arroz Roma|          11|          11|              Arroz|
|         35|        Arroz Ribe|          11|          11|              Arroz|
|         36|    Arroz integral|          11|          11|              Arroz|
|         37|Sardinas enlatadas|          12|          12|Productos enlatados|
|         38|     Atún enlatado|          12|          12|Productos enlatados|
|         39|Duraznos enlatados|          12|          12|Productos enlatados|
|         40|    Maíz enlatados|          12|          12|Productos enlatados|
+-----------+------------------+------------+------------+-------------------+

In [ ]:
#Calcula el máximo y mínimo de la cantidad vendida en "ventas_df" utilizando las funciones max() y min(), respectivamente.
max_cantidad = ventasdf.select(F.max("cantidad")).first()[0]
print("Máximo de la cantidad vendida:", max_cantidad)

Máximo de la cantidad vendida: 6

In [ ]:
min_cantidad = ventasdf.select(F.min("cantidad")).first()[0]
print("Mínimo de la cantidad vendida:", min_cantidad)

Mínimo de la cantidad vendida: 1

In [ ]:
#Calcula el promedio de la cantidad vendida en "ventas_df" utilizando la función avg().
promedio_cantidad = ventasdf.select(F.avg("cantidad")).first()[0]
print("Promedio de la cantidad vendida:", promedio_cantidad)

Promedio de la cantidad vendida: 2.85

In [ ]:
#Agrupa "ventas_df" por el idProducto y calcula la suma de la cantidad vendida en cada grupo utilizando el método groupBy() y la función sum().
ventas_agrupadas = ventasdf.groupBy("id_producto").agg(F.sum("cantidad").alias("total_cantidad_vendida"))
ventas_agrupadas.show()

+-----------+----------------------+
|id_producto|total_cantidad_vendida|
+-----------+----------------------+
|         34|                   6.0|
|         35|                   7.0|
|         31|                   3.0|
|         38|                   3.0|
|         40|                   9.0|
|         33|                   5.0|
|         32|                   5.0|
|         36|                   6.0|
|         37|                   4.0|
|         39|                   9.0|
+-----------+----------------------+

In [ ]:
# Convertir la columna 'fecha' a tipo DateType

ventasdf = ventasdf.withColumn("fecha", F.to_date("fecha", "dd-MM-yyyy"))

In [ ]:
#Filtra "ventas_df" para mostrar solo las ventas donde la cantidad sea mayor que 5 y la fecha sea posterior a "2023-01-15".
ventas_filtradas = ventasdf.filter((ventasdf["cantidad"] > 5) & (ventasdf["fecha"] > F.to_date(F.lit("2023-01-15"), "yyyy-MM-dd")))
ventas_filtradas.show()

+--------+-----------+--------+----------+
|id_venta|id_producto|cantidad|     fecha|
+--------+-----------+--------+----------+
|     391|         39|       6|2023-06-27|
+--------+-----------+--------+----------+

In [ ]:
#Filtra "productos_df" para mostrar solo los productos de la categoría 3.
productos_categoria_3 = productosdf.filter(productosdf["id_Categoria"] == 3)
productos_categoria_3.show()

+-----------+------+------------+
|id_producto|nombre|id_categoria|
+-----------+------+------------+
+-----------+------+------------+

In [ ]:
#Agrega una nueva columna llamada "total" a "ventas_df" que sea el resultado de multiplicar la cantidad por 2.
ventasdf_con_total = ventasdf.withColumn("total", col("cantidad") * 2)
ventasdf_con_total.show()

+--------+-----------+--------+----------+-----+
|id_venta|id_producto|cantidad|     fecha|total|
+--------+-----------+--------+----------+-----+
|     310|         31|       2|2023-06-10|  4.0|
|     311|         31|       1|2023-06-11|  2.0|
|     320|         32|       3|2023-06-12|  6.0|
|     321|         32|       2|2023-06-13|  4.0|
|     330|         33|       4|2023-06-14|  8.0|
|     331|         33|       1|2023-06-15|  2.0|
|     340|         34|       2|2023-06-16|  4.0|
|     341|         34|       4|2023-06-17|  8.0|
|     350|         35|       2|2023-06-18|  4.0|
|     351|         35|       5|2023-06-19| 10.0|
|     360|         36|       4|2023-06-20|  8.0|
|     361|         36|       2|2023-06-21|  4.0|
|     370|         37|       1|2023-06-22|  2.0|
|     371|         37|       3|2023-06-23|  6.0|
|     380|         38|       1|2023-06-24|  2.0|
|     381|         38|       2|2023-06-25|  4.0|
|     390|         39|       3|2023-06-26|  6.0|
|     391|         39|       6|2023-06-27| 12.0|
|     400|         40|       5|2023-06-28| 10.0|
|     401|         40|       4|2023-06-29|  8.0|
+--------+-----------+--------+----------+-----+

In [ ]:
#Convierte la columna "fecha" de "ventas_df" al formato de fecha utilizando la función to_date().
ventasdf_con_fecha = ventasdf.withColumn("fecha", to_date(col("fecha")))
ventasdf_con_fecha.show()

+--------+-----------+--------+----------+
|id_venta|id_producto|cantidad|     fecha|
+--------+-----------+--------+----------+
|     310|         31|       2|2023-06-10|
|     311|         31|       1|2023-06-11|
|     320|         32|       3|2023-06-12|
|     321|         32|       2|2023-06-13|
|     330|         33|       4|2023-06-14|
|     331|         33|       1|2023-06-15|
|     340|         34|       2|2023-06-16|
|     341|         34|       4|2023-06-17|
|     350|         35|       2|2023-06-18|
|     351|         35|       5|2023-06-19|
|     360|         36|       4|2023-06-20|
|     361|         36|       2|2023-06-21|
|     370|         37|       1|2023-06-22|
|     371|         37|       3|2023-06-23|
|     380|         38|       1|2023-06-24|
|     381|         38|       2|2023-06-25|
|     390|         39|       3|2023-06-26|
|     391|         39|       6|2023-06-27|
|     400|         40|       5|2023-06-28|
|     401|         40|       4|2023-06-29|
+--------+-----------+--------+----------+

### Consultas SQL

In [ ]:
#Registra los DataFrames "ventas_df", "productos_df" y "categorias_df" como tablas temporales utilizando el método createOrReplaceTempView().
ventasdf.createOrReplaceTempView("ventas")
productosdf.createOrReplaceTempView("productos")
categoriasdf.createOrReplaceTempView("categorias")

In [ ]:
spark.sql("SELECT * FROM ventas").show()
spark.sql("SELECT * FROM productos").show()
spark.sql("SELECT * FROM categorias").show()

+--------+-----------+--------+----------+
|id_venta|id_producto|cantidad|     fecha|
+--------+-----------+--------+----------+
|     310|         31|       2|2023-06-10|
|     311|         31|       1|2023-06-11|
|     320|         32|       3|2023-06-12|
|     321|         32|       2|2023-06-13|
|     330|         33|       4|2023-06-14|
|     331|         33|       1|2023-06-15|
|     340|         34|       2|2023-06-16|
|     341|         34|       4|2023-06-17|
|     350|         35|       2|2023-06-18|
|     351|         35|       5|2023-06-19|
|     360|         36|       4|2023-06-20|
|     361|         36|       2|2023-06-21|
|     370|         37|       1|2023-06-22|
|     371|         37|       3|2023-06-23|
|     380|         38|       1|2023-06-24|
|     381|         38|       2|2023-06-25|
|     390|         39|       3|2023-06-26|
|     391|         39|       6|2023-06-27|
|     400|         40|       5|2023-06-28|
|     401|         40|       4|2023-06-29|
+--------+-----------+--------+----------+

+-----------+------------------+------------+
|id_producto|            nombre|id_categoria|
+-----------+------------------+------------+
|         35|        Arroz Ribe|          11|
|         34|        Arroz Roma|          11|
|         36|    Arroz integral|          11|
|         38|     Atún enlatado|          12|
|         39|Duraznos enlatados|          12|
|         40|    Maíz enlatados|          12|
|         37|Sardinas enlatadas|          12|
|         32|        fideo codo|          10|
|         31|        fideo laso|          10|
|         33|    fideo macarron|          10|
+-----------+------------------+------------+

+------------+-------------------+
|id_categoria|             nombre|
+------------+-------------------+
|          10|             Pastas|
|          11|              Arroz|
|          12|Productos enlatados|
+------------+-------------------+

In [ ]:
# Consulta SQL para obtener la suma de la cantidad vendida por producto y categoría
consulta_sql = """
    SELECT p.nombre AS producto, c.nombre AS categoria, SUM(v.cantidad) AS cantidad_total
    FROM ventas v
    JOIN productos p ON v.id_producto = p.id_producto
    JOIN categorias c ON p.id_categoria = c.id_categoria
    GROUP BY p.nombre, c.nombre
"""

# Ejecutar la consulta SQL y obtener el resultado en un DataFrame
resultado = spark.sql(consulta_sql)

# Mostrar el DataFrame resultante
resultado.show()

+------------------+-------------------+--------------+
|          producto|          categoria|cantidad_total|
+------------------+-------------------+--------------+
|        Arroz Ribe|              Arroz|           7.0|
|     Atún enlatado|Productos enlatados|           3.0|
|        fideo laso|             Pastas|           3.0|
|Duraznos enlatados|Productos enlatados|           9.0|
|    fideo macarron|             Pastas|           5.0|
|    Maíz enlatados|Productos enlatados|           9.0|
|Sardinas enlatadas|Productos enlatados|           4.0|
|        Arroz Roma|              Arroz|           6.0|
|        fideo codo|             Pastas|           5.0|
|    Arroz integral|              Arroz|           6.0|
+------------------+-------------------+--------------+

In [ ]:
#Combina "ventas_df" y "productos_df" utilizando el método union() para obtener un único DataFrame que contenga todas las ventas y productos.

# Agrega una columna adicional a "productos_df" con valores nulos para que coincida con la estructura de "ventas_df ya que necesitan ser iguales"
productosdf = productosdf.withColumn("id_venta", lit(None))

# Combina "ventas_df" y "productos_df" utilizando el método union()
ventas_productos_df = ventasdf.union(productosdf)

# Muestra el DataFrame resultante
ventas_productos_df.show()

+--------+-----------+--------+----------+
|id_venta|id_producto|cantidad|     fecha|
+--------+-----------+--------+----------+
|     310|         31|       2|2023-06-10|
|     311|         31|       1|2023-06-11|
|     320|         32|       3|2023-06-12|
|     321|         32|       2|2023-06-13|
|     330|         33|       4|2023-06-14|
|     331|         33|       1|2023-06-15|
|     340|         34|       2|2023-06-16|
|     341|         34|       4|2023-06-17|
|     350|         35|       2|2023-06-18|
|     351|         35|       5|2023-06-19|
|     360|         36|       4|2023-06-20|
|     361|         36|       2|2023-06-21|
|     370|         37|       1|2023-06-22|
|     371|         37|       3|2023-06-23|
|     380|         38|       1|2023-06-24|
|     381|         38|       2|2023-06-25|
|     390|         39|       3|2023-06-26|
|     391|         39|       6|2023-06-27|
|     400|         40|       5|2023-06-28|
|     401|         40|       4|2023-06-29|
+--------+-----------+--------+----------+
only showing top 20 rows

In [ ]:
#Combina "ventas_df" y "productos_df" utilizando el método union() para obtener un único DataFrame que contenga todas las ventas y nombre de productos.
# Realizar joins para obtener nombre de producto y categoría
ventas_productos_df = ventasdf.join(productosdf, "id_producto", "left") \
    .join(categoriasdf, "id_categoria", "left") \
    .select(ventasdf["id_venta"], productosdf["nombre"], ventasdf["cantidad"], ventasdf["fecha"])
# Mostrar el DataFrame resultante
ventas_productos_df.show()

+--------+------------------+--------+----------+
|id_venta|            nombre|cantidad|     fecha|
+--------+------------------+--------+----------+
|     310|        fideo laso|       2|2023-06-10|
|     311|        fideo laso|       1|2023-06-11|
|     320|        fideo codo|       3|2023-06-12|
|     321|        fideo codo|       2|2023-06-13|
|     330|    fideo macarron|       4|2023-06-14|
|     331|    fideo macarron|       1|2023-06-15|
|     340|        Arroz Roma|       2|2023-06-16|
|     341|        Arroz Roma|       4|2023-06-17|
|     350|        Arroz Ribe|       2|2023-06-18|
|     351|        Arroz Ribe|       5|2023-06-19|
|     360|    Arroz integral|       4|2023-06-20|
|     361|    Arroz integral|       2|2023-06-21|
|     370|Sardinas enlatadas|       1|2023-06-22|
|     371|Sardinas enlatadas|       3|2023-06-23|
|     380|     Atún enlatado|       1|2023-06-24|
|     381|     Atún enlatado|       2|2023-06-25|
|     390|Duraznos enlatados|       3|2023-06-26|
|     391|Duraznos enlatados|       6|2023-06-27|
|     400|    Maíz enlatados|       5|2023-06-28|
|     401|    Maíz enlatados|       4|2023-06-29|
+--------+------------------+--------+----------+